                                /* Définition de la police nommée Raleway */
@font-face {
    font-family: 'Raleway';
    src: url('fonts/Raleway-Regular.eot');
    src: url('fonts/Raleway-Regular.eot?#iefix') format('embedded-opentype'),
         url('fonts/Raleway-Regular.woff2') format('woff2'),
         url('fonts/Raleway-Regular.woff') format('woff'),
         url('fonts/Raleway-Regular.ttf') format('truetype'),
         url('fonts/Raleway-Regular.svg#Raleway-Regular') format('svg');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}    

@font-face {
    font-family: 'Raleway';
    src: url('fonts/Raleway-Bold.eot');
    src: url('fonts/Raleway-Bold.eot?#iefix') format('embedded-opentype'),
         url('fonts/Raleway-Bold.woff2') format('woff2'),
         url('fonts/Raleway-Bold.woff') format('woff'),
         url('fonts/Raleway-Bold.ttf') format('truetype'),
         url('fonts/Raleway-Bold.svg#Raleway-Bold') format('svg');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}    

body
{
    font-family: 'Raleway',Arial, serif;
	margin: auto; 
}
                                    /* HEADER */
                                    /* NAVIGATION */
.header
{
    max-width: 1440px;
    margin: auto;
}              

.headerreservia
{
    display: grid;
    grid-template-columns: 1fr; 
    grid-template-rows: 1fr;
}

.headerimg
{ 
    grid-column: 1; 
    grid-row: 1; 
}

.headernav
{
    grid-column: 2; 
    grid-row: 1; 
}

.headersignup
{
    grid-column: 3; 
    grid-row: 1; 
    padding: 2.3em;
    text-decoration: none; 
}

.headerreservia img
{
    width: 100px;
    height: 50px;
}

.headernav, .headersignup
{
    padding-top: 2.5em;

}

.headernav,.headersignup
{
    color: #0065FC;
    font-weight: bold;
}

.hebergements,.activites
{
    color: black;
    text-decoration: none; 
    padding: 2.3em
}

.hebergements,.activites
{

    padding-right: 1.5em;
    padding-left: 1.5em;
}
                                /* HOVER */
.hebergements:hover,.activites:hover
{
    border-top: solid 3px #0065FC;
    color: #0065FC;
}
                                /* TITRE RESERVIA */
                                /* TROUVEZ VOTRE HEBERGEMENT */

.headertitleshearch
{   
    font-size: 1.9em;
    margin: 0;
}

.headersubtitle
{
   margin-top: 5px;
   font-size: 1.4em;

}                                     
                                /* BARRE DE RECHERCHE */
.headershearch
{
    position: relative;
    display: flex;
    justify-content: flex-end;
    border:none;
    background-color: #F2F2F2;
    width: 31em;
    height: 3em;
    border-radius: 9px;
}

.headershearchspan
{
    position: absolute;
    top:50% ;
    left:0%;
    transform: translate(115%,-50%);
}

.headershearchbutton
{
    background-color: #0065FC;
    color: white;
    border: none;
    border-radius: 0 9px 9px 0;
    padding-right: 10px;
    padding-left: 10px;
    font-size: 1.4em;
}

.headershearchinput
{
    border-left:none;
    border-right: none;
    border:solid 2px #F2F2F2;
    margin-left: 0px;
    padding-left: 10px;
    font-size: 1.4em;
    font-weight: bold;
    outline: none;
}

.headershearchicon
{
    font-size: 20px;
}

.headershearchiconshearch
{
    color: #0065FC;
    font-size: 1px;
}

::placeholder
{
    font-family: 'Raleway',Arial, serif;
    color: black;
}
                                /* FILTRES */
.headerfiltre
{
    display: flex;
    justify-content: space-between;
    max-width: 1100px;
    align-items: center;
    margin: 25px 0 25px 0;.css   
}

.headerfiltrediv
{
    display: flex;
    align-items: center;
    border:solid 2px #F2F2F2;
    border-radius: 50px;
    height: 45px;
    font-size: 1.4em;
    font-weight: bold;
     transition-duration: 0.5s;
}

.headerfiltrediv1
{ 
    margin-top: 0;
    margin-right: 0;
    display: flex;
    color: #0065FC;
    background-color: #DEEBFF;
    height: 47px;
    width: 47px;
    border-radius: 50%;
}

.headerfiltrespan
{
    padding:  0em 0.8em 0em 0.8em;
}

.headerfiltreicon
{
    font-size: 17px;
    margin: auto;
}
                                /* HOVER */
 .headerfiltrediv:hover
 {
    padding: 4px;
    color: #0065FC;
    background-color: #DEEBFF;
    box-shadow: 0 0 14px #D2D2D2;
 } 
                                /* I INFOS*/

.headerinfodiv
{ 
    display: flex;
    align-items: center;
    position: relative;
    height: 45px;
    font-size: 1.4em;
    margin: 25px 0 25px 0;
}

.headerinfo
{
    margin-top: 0;
    margin-right: 0;
    display: flex;
    color: #0065FC;
    border:solid 2px #F2F2F2;
    height: 35px;
    width: 35px;
    border-radius: 100%;
    margin-right: 20px;
    min-width: 35px;
    min-height: 35px; 
}

.headerinfoicon
{
    position: absolute;
    top:50% ;
    left:0%;
    transform: translate(175%,-50%)
}
                                /* HEBERGEMENTS A MARSEILLE */
                                /* SECTION HEBERGEMENTS */
.sectionhosting
{
    max-width: 1440px;
    margin: auto;
    display: flex;
    justify-content: center;
    margin-bottom: 40px;
}

.sectionhostingfigure
{
    margin: 0;
    padding: 0;
}

#sectionarticle1,#sectionarticle2,#sectionarticle3,#sectionarticle4,#sectionarticle5,#sectionarticle6
{
    display: flex;
    justify-content: center;
    color:black;
    background-color: white;
    box-shadow: 4px 4px 7px #CCD3D9, -4px -4px 7px #CCD3D9 ;
    border-radius: 25px;
    width: 285px;
    transition-duration: 0.5s;
}

.starbleu
{
    color: #0065FC;
}

.stargris
{
    color: #CCD3D9;
}

.sectionarticlelink
{
    text-decoration: none;
}

.titleprice,.titlepriceetoile,.price
{
    color: black;
    margin: 7px;
    padding:0;
}

.hostingnotestar
{
    margin-left: 7px;
}

figcaption h3
{
    margin: 0;
    padding:0;
}


.img
{
    margin-top: 5px;
    height: 150px;
    width: 275px;
    object-fit: cover;
    border-radius: 25px 25px 0 0;
}

.sectionhostingmainmain
{   
    display:grid;
    grid-template-columns:  315px 315px 315px ;
    grid-template-rows: 45px 250px 250px 45px;
    grid-gap: 20px; 
    background-color: #F2F2F2;
    border-radius: 25px;
    padding: 10px 0px 10px 25px;
    margin-right: 30px;
}

.sectionhostingplus
{
    color: black;
    text-decoration:none;
    font-size: 1.4em;
    font-weight: bold;
}

.sectionheadertitle
{
    grid-column: 1;
    grid-row: 1;
}
                                /* 1er ARTICLE */
.cannebiere 
{
    grid-column: 1;
    grid-row: 2; 
}
                                /* 2eme ARTICLE */
.port
{ 
    grid-column: 2;
    grid-row: 2 ; 
}
                                /* 3eme ARTICLE */
.mouettes
{
    grid-column: 3;
    grid-row: 2;
}
                                /* 4eme ARTICLE */
.mer 
{
    grid-column: 1;
    grid-row: 3; 
}
                                /* 5eme ARTICLE */
.panier
{
    grid-column: 2;
    grid-row: 3;    
}
                                /* 6eme ARTICLE */
.amina
{
    grid-column: 3;
    grid-row: 3;
}
                                /* AFFICHER PLUS */
.sectionhostingplus
{
    grid-column: 1;
    grid-row: 4; 
}
                                /* HOVER */
#sectionarticle1:hover,#sectionarticle2:hover,#sectionarticle3:hover,#sectionarticle4:hover,#sectionarticle5:hover,#sectionarticle6:hover
{
    transform: scale(1.02);
    transition-duration: 0.2s;
}
                                /* ASIDE ACTIVITE */
#ancreactivite
{
    max-width: 1440px;
    margin: auto;
}

#titlepopulaireicon 
{
    font-size: 20px;
    display: flex;
    align-items: center;
}

.titlepopulairediv 
{
    display: flex;
    justify-content: space-between;
}

.titlepopulaire
{
    margin-bottom:5px;
    margin: 0;
    padding: 0;
}

.asidearticletitle
{
    margin-bottom: 10px;
}

.asidetitleprice
{
    margin: 0;
    padding: 0;
    margin-bottom: 40px;
}

.populaire
{
    background-color: #F2F2F2;
    border-radius: 25px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding:0px 35px 45px 35px;
}
 
.asidearticlediv
{
    display: flex;
    color: black;
    background-color: white;
    border-radius: 25px;
    height: 165px;
    width: 330px;
    box-shadow: 4px 4px 7px #CCD3D9, -4px -4px 7px #CCD3D9 ;
}

.asidearticledivdiv
{
    display: flex;
    flex-direction: column;
    margin: 0;
    margin-left: 15px;
    padding: 0;
    width: 175px;
}

.img2
{
    margin-top: 5px;
    margin-left: 5px;
    height: 155px;
    width: 125px;
    object-fit: cover;
    border-radius: 25px 0px 0 25px;
}
/* HOVER */
.sectionhostingplus:hover
{
    transform: scale(1.02);
    transition-duration: 0.2s;
    color: #0065FC;
}
.asidearticlediv:hover
{
    transform: scale(1.02);
    transition-duration: 0.2s;
}
                                /* ACTIVITE A MARSEILLE */
                                /* IMAGES */
.asidearticlelink:link
{
    text-decoration: none;
}

.activityimgS
{
    padding: 0;
    margin: 0;
    border-radius: 25px 25px 0 0;
    height: 125px;
    width: 325px;
    object-fit: cover;
}   

.activityimgM
{
    padding: 0;
    margin: 0;
    border-radius: 25px 25px 0 0;
    height: 185px;
    width: 325px;
    object-fit: cover;
}

.activityimgL
{
    padding: 0;
    margin: 0;
    border-radius: 25px 25px 0 0;
    height: 260px;
    width: 325px;
    object-fit: cover;
}

.activityimgXL
{
    padding: 0;
    margin: 0;
    border-radius: 25px 25px 0 0;
    height: 470px;
    width: 325px;
    object-fit: cover;
}
                                /* LIEUS */
                                /* GRID */
.activitylieutitle
{
    margin-left: 15px
}

.sectionactivity
{
    max-width: 1440px;
    margin: auto;
}

.sectionactivitydiv
{
    display: grid;
    grid-template-rows: 275px 275px;
    grid-template-columns: 352.5px 352.5px 352.5px 352.5px;
    grid-column-gap: 18px;
    grid-row-gap: 10px;            
}   

a.sectionile 
{
    padding-top: 60px;
}   

.vieuxport
{
    display: flex;
    flex-direction: column;
    color: black;
    box-shadow: 0 0 25px #D2D2D2;
    border-radius: 25px;
    width: 325px;
}

.sectionvieuxport
{
    grid-column: 1;
    grid-row: 1/2;
}

.fort
{
    display: flex;
    flex-direction: column;
    color: black;
    box-shadow: 0 0 25px #D2D2D2;
    border-radius: 25px;
    width: 325px;
}

.sectionfort
{
    grid-column: 2;
    grid-row: 1;
}

.ile
{
    display: flex;
    flex-direction: column;
    color: black;
    box-shadow: 0 0 25px #D2D2D2;
    border-radius: 25px;
    width: 325px;
}

.sectionile
{
    grid-column: 2;
    grid-row: 2;
}

.parcnational
{
    display: flex;
    flex-direction: column;
    color: black;
    box-shadow: 0 0 25px #D2D2D2;
    border-radius: 25px;
    width: 325px;
}

.sectionparcnational
{
    grid-column: 3;
    grid-row: 1/2;
}

.notredame
{   
    display: flex;
    flex-direction: column;
    color: black;
    box-shadow: 0 0 25px #D2D2D2;
    border-radius: 25px;
    width: 325px;
}

.sectionnotredame
{
    grid-column: 4;
    grid-row: 1;
}

.parc
{  
    display: flex;
    flex-direction: column;
    color: black;
    box-shadow: 0 0 25px #D2D2D2;
    border-radius: 25px;
    width: 325px;
}

.sectionparc
{
    grid-column: 4;
    grid-row: 2;
}
                                /* HOVER */
.parc:hover,.notredame:hover,.parcnational:hover,.ile:hover,.fort:hover,.vieuxport:hover
{
    transform: scale(1.02);
    transition-duration: 0.2s;
}                                
                                /* TITLE */
.sectionnotredame:link                            
{
    text-decoration: none;
}

.sectionparc:link 
{
    text-decoration: none;
}

.sectionparcnational:link 
{
    text-decoration: none;
}

.sectionile:link 
{
    text-decoration: none;
}

.sectionfort:link 
{
    text-decoration: none;
}

.sectionvieuxport:link 
{
    text-decoration: none;
}
                                /* FOOTER */
.footer
{
    background-color: #F2F2F2;
    margin: auto;
    max-width: 1440px;
}

.footerfooter
{
    display: flex;
    justify-content: space-between; 
}

.footerbottom,.footerbottomheber
{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    font-size: 1.4em;
    margin-right: 10px;
}

.footerbottom a, .footerbottomheber a
{
    text-decoration: none;
    color: black;
}

.footerbottompropos
{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-size: 1.4em;
    margin-left: 10px;

}

.footerbottompropos a
{
    text-decoration: none;
    color: black;
    padding-bottom: 10px;
}
                                /* MEDIA QUERIES MOBILES <375 px */
@media  (max-width: 375px)
{      
    .sectionhosting{ margin: auto;}
    .sectionactivity{ margin: auto;}
    .footer{ margin: auto;}

    .headersubtitle{ font-size: 1.2em }
    .headertitleshearch{ font-size: 1.35em }
    .headerimg{ grid-area:headerimg; padding:20px 0 0 20px; }
    .headersignup{ grid-area:headersignup; padding:40px 20px 0 0;}
    .headernav{ grid-area:headernav; display: flex; justify-content: center;text-align: center; margin-bottom: 25px;}
    .hebergements:nth-child(1){ flex: 2;}
    .activites:nth-child(2) {flex: 2;}
    .headerreservia{ display: grid;
        grid-template-columns: auto 1fr auto;
        grid-template-rows: auto auto;
        grid-template-areas: "headerimg . headersignup"
                             "headernav headernav headernav";}
        
    .hebergements:hover,.activites:hover { border-bottom: solid 3px #0065FC; border-top: none; color: #0065FC;}
    .hebergements,.activites { border-bottom: solid 3px #F2F2F2; padding: 15px;}
    .headertitle{ text-align: left; margin-left: 10px }

    .headershearchiconshearch{ color: white; font-size: 20px}
    .headershearchtext{ font-size: 1px; color: #0065FC }
    .headershearchbutton{ padding-right: 20px; border-radius: 15px;}
    .headershearchinput{ font-size: 1.1em }
    .headershearch{ width: 360px; margin: 0 10px 0 10px;}
    .headerfiltre{ display: flex;flex-direction: column; align-items: flex-start;max-width: 375px; margin-left: 10px; font-size: 0.85em;}
    .headerfiltrediv{ margin-bottom: 10px; }
    .headerinfodiv{ margin-right: 20px; font-size: 1em }
    .headerinfo{ margin-left: 15px;}
    .headerinfoicon{ margin-left: 20px; }
    
    .sectionhosting{ display: flex; flex-direction:column-reverse; }
    .titlepopulairediv{ display: flex;margin: 25px 0 25px 0;}
    .titlepopulaire{ margin-right: 100px; }
    #titlepopulaireicon{ font-size: 1.4em; }
    .asidearticlediv{ margin-bottom: 15px; width: 355px; }
    .populaire{ margin: auto; min-width:375px; border-radius: 0; align-items: center;padding: 0; }
                            /* HEBERGEMENT A MARSEILLE */
    .sectionhostingmainmain{ display: flex;flex-direction: column; justify-content: center; padding: 0;align-items: center; ;background-color: white;min-width: 375px;}
    #sectionarticle1,#sectionarticle2,#sectionarticle3,#sectionarticle4,#sectionarticle5,#sectionarticle6{ width: 375px;height: 250px;}
    .img{ width: 370px; object-fit: cover;}

    .sectionheadertitle{ grid-column: 1;grid-row: 1;}
                                /* 1er ARTICLE */
    .cannebiere{ grid-column: 1;grid-row: 2;}
                                /* 2eme ARTICLE */
    .port{  grid-column: 1;grid-row: 3 ;}
                                /* 3eme ARTICLE */
    .mouettes{ grid-column: 1;grid-row: 4;}
                                /* 4eme ARTICLE */
    .mer{ grid-column: 1;grid-row: 5; }
                                /* 5eme ARTICLE */
    .panier{ grid-column: 1;grid-row: 6;}
                                /* 6eme ARTICLE */
    .amina{ grid-column: 1;grid-row: 7;}
                                /* AFFICHER PLUS */
    .sectionhostingplus{ grid-column: 1;grid-row: 8;}
                            /* ACTIVITES A MARSEILLE */
    .sectionactivitydiv{display: flex;flex-direction: column; justify-content: center;margin: auto; padding: 0;align-items: center;background-color: white;min-width: 375px;}
    
    #ancreactivite
    .sectionvieuxport{ grid-column: 1;grid-row: 1; }
                                /* 1er ARTICLE */
    .sectionfort{ grid-column: 1;grid-row: 2 }
                                /* 2eme ARTICLE */
    .sectionile{  grid-column:1;grid-row: 3;}
                                /* 3eme ARTICLE */
    .sectionparcnational{ grid-column: 1;grid-row: 4;}
                                /* 4eme ARTICLE */
    .sectionnotredame{ grid-column: 1;grid-row: 5;}
                                /* 5eme ARTICLE */
    .sectionparc{ grid-column: 1;grid-row: 6;}
                                /* 6eme ARTICLE */
    .activityimgS,.activityimgM,.activityimgL,.activityimgXL{ width: 360px; height: 150px; object-fit: cover; }
    .vieuxport,.fort,.ile,.parcnational,.notredame,.parc{ width: 360px; height: 210px;}
    a.sectionile{ padding: 0; }
    .footerfooter{ display: flex;flex-direction: column; margin: 0 0 0 20px; }
    .footer{ max-width: 375px; }
    .footerbottompropos{ margin-left: 0 }
    .sectionhostingplus{ margin-right: 210px}
    #ancrehebergements{ margin-left: -75px}

    #ancreactivite{ margin-left: 15px }
}   

                                /* MEDIA QUERIES TABLETTES >376 px / <650 px */
@media (min-width: 376px) and (max-width: 650px)
{
                                    /* NAVIGATION */
    .sectionhosting{ margin: auto;}
    .sectionactivity{ margin: auto;}
    .footer{ margin: auto;}

    .headersubtitle{ font-size: 1.2em }
    .headertitleshearch{ font-size: 1.35em }
    .headerimg{ grid-area:headerimg; padding:20px 0 0 20px; }
    .headersignup{ grid-area:headersignup; padding:40px 20px 0 0;}
    .headernav{ grid-area:headernav; display: flex; justify-content: center;text-align: center; margin-bottom: 25px;}
    .hebergements:nth-child(1){ flex: 2;}
    .activites:nth-child(2) {flex: 2;}
    .headerreservia{ display: grid;
        grid-template-columns: auto 1fr auto;
        grid-template-rows: auto auto;
        grid-template-areas: "headerimg . headersignup"
                             "headernav headernav headernav";}
        
    .hebergements:hover,.activites:hover { border-bottom: solid 3px #0065FC; border-top: none; color: #0065FC;}
    .hebergements,.activites { border-bottom: solid 3px #F2F2F2; padding: 15px;}
    .headertitle{ text-align: left; margin-left: 10px }

                                    /* FILTRES */
    .headertitlefiltre{ grid-area:headertitlefiltre; ; }
    #headerfiltredive{ grid-area:headerfiltredive; ;}
    #headerfiltredivf{ grid-area:headerfiltredivf; ;}
    #headerfiltredivr{ grid-area:headerfiltredivr; ;}
    #headerfiltrediva{ grid-area:headerfiltrediva; ;}
    
    .headerfiltre{ display: grid;
        grid-gap: 10px;
        margin: auto;
        padding: 0;
        grid-template-columns: auto auto ;
        grid-template-rows: auto auto auto;
        grid-template-areas:"headertitlefiltre"
                            "headerfiltredive" 
                            "headerfiltredivf"
                            "headerfiltredivr" 
                            "headerfiltrediva";}

                                    /* POPULAIRE */
    .sectionhosting{ display: flex; flex-direction: column-reverse; }                                
    .titlepopulairediv{ grid-area:titlepopulairediv;}
    #asidearticlediva{ grid-area:asidearticlediva;}
    #asidearticledivb{ grid-area:asidearticledivb;}
    #asidearticledivc{ grid-area:asidearticledivc;}
    
    
    .populaire{ display: grid;justify-content: center;
        grid-gap: 10px;
        padding: 0;
        grid-template-columns: auto ;
        grid-template-rows: auto auto auto auto;
        grid-template-areas: "titlepopulairediv"
                             "asidearticlediva"
                             "asidearticledivb"
                             "asidearticledivc";}
    .titlepopulairediv{ display: flex;justify-content: space-between;align-items: center;margin: 20px 0 20px 0;}
    #titlepopulaireicon{ font-size: 1.5em;display: flex;justify-content: center;}                         
    .asidearticlediv{width: 366px; height: 245px }
    .img2{ width: 220px; height: 235px }

                                    /* HEBERGEMENT */
    .sectionheadertitle{ grid-area:sectionheadertitle;}
    .cannebiere{ grid-area:cannebiere;}
    .port{ grid-area:port;}
    .mouettes{ grid-area:mouettes;}
    .mer{ grid-area:mer;}
    .panier{ grid-area:panier;}
    .amina{ grid-area:amina;}
    .sectionhostingplus{ grid-area:sectionhostingplus;}
    
    
    .sectionhostingmainmain{ display: grid;justify-content: center;
        grid-gap: 10px;
        margin: auto;
        padding: 0;
        grid-template-columns: auto;
        grid-template-rows: auto auto auto auto auto auto auto auto;
        grid-template-areas: "sectionheadertitle"
                             "cannebiere"
                             "port"
                             "mouettes"
                             "mer" 
                             "panier"
                             "amina"
                             "sectionhostingplus";}
    .sectionhostingplus{ margin-bottom: 15px; } 
    #sectionarticle1, #sectionarticle2, #sectionarticle3, #sectionarticle4, #sectionarticle5, #sectionarticle6{ width: 366px; height: 250px;  } 
    .img{ width: 356px; } 

                                    /* ACTIVITE */ 
    #ancreactivite{ grid-area:ancreactivite;}
    .sectionvieuxport{ grid-area:sectionvieuxport;}
    .sectionfort{ grid-area:sectionfort;}
    .sectionile{ grid-area:sectionile;}
    .sectionparcnational{ grid-area:sectionparcnational;}
    .sectionnotredame{ grid-area:sectionnotredame;}
    .sectionparc{ grid-area:sectionparc;}
    
    .sectionactivitydiv{ display: grid;justify-content: center;
        grid-gap: 10px;
        
        grid-template-columns: auto;
        grid-template-rows: auto auto auto auto auto auto auto;
        grid-template-areas:"ancreactivite"
                            "sectionvieuxport"
                            "sectionfort"
                            "sectionile"
                            "sectionparcnational"
                            "sectionnotredame"
                            "sectionparc";}

    #ancreactivite{ display: flex; justify-content: center; margin: 20px 0 20px 0}   
    .vieuxport,.fort,.ile,.parcnational,.notredame,.parc{ width: 370px; height: 200px; }
    .activityimgS,.activityimgM,.activityimgL,.activityimgXL{ width: 370px; height: 125px;}
    a.sectionile{ padding-top: 0; }
}


                                /* MEDIA QUERIES TABLETTES >650 px / <1024 px */
@media (min-width: 650px) and (max-width: 1024px)
{
    body{ max-width: 1024px; margin: 10px; }
                                /* NAVIGATION */
    .headershearch{ margin-bottom: 15px; }                            
    .headerimg{ grid-area:headerimg; padding:20px 0 0 20px; }
    .headersignup{ grid-area:headersignup; padding:40px 20px 0 0;}
    .headernav{ grid-area:headernav; display: flex; justify-content: center;text-align: center; margin-bottom: 25px;}
    .hebergements:nth-child(1){ flex: 2;}
    .activites:nth-child(2) {flex: 2;}
    .headerreservia{ display: grid;
        grid-template-columns: auto 1fr auto;
        grid-template-rows: auto auto;
        grid-template-areas: "headerimg . headersignup"
                             "headernav headernav headernav";}
                                    /* FILTRES */
    .hebergements:hover,.activites:hover { border-bottom: solid 3px #0065FC; border-top: none; color: #0065FC;}
    .hebergements,.activites { border-bottom: solid 3px #F2F2F2; padding: 15px;}
    .headertitlefiltre{ grid-area:headertitlefiltre; ; }
    #headerfiltredive{ grid-area:headerfiltredive; ;}
    #headerfiltredivf{ grid-area:headerfiltredivf; ;}
    #headerfiltredivr{ grid-area:headerfiltredivr; ;}
    #headerfiltrediva{ grid-area:headerfiltrediva; ;}
    
    .headerfiltre{ display: grid;
        grid-gap: 10px;
        margin: auto;
        padding: 0;
        grid-template-columns: auto auto auto;
        grid-template-rows: auto auto ;
        grid-template-areas: "headertitlefiltre headerfiltredive headerfiltredivf"
                             "headertitlefiltre headerfiltredivr headerfiltrediva";}
                                
    
                                    /* POPULAIRE */
    .sectionhosting{ display: flex; flex-direction: column-reverse; }
    .titlepopulairediv{ grid-area:titlepopulairediv;}
    #asidearticlediva{ grid-area:asidearticlediva;}
    #asidearticledivb{ grid-area:asidearticledivb;}
    #asidearticledivc{ grid-area:asidearticledivc;}
    
    
    .populaire{ display: grid;justify-content: center;
        grid-gap: 10px;
        padding: 0;
        grid-template-columns: auto ;
        grid-template-rows: auto auto auto auto;
        grid-template-areas: "titlepopulairediv"
                             "asidearticlediva"
                             "asidearticledivb"
                             "asidearticledivc";}
    .titlepopulairediv{ display: flex;justify-content: space-between;align-items: center;margin: 20px 0 20px 0;}
    #titlepopulaireicon{ font-size: 1.5em;display: flex;justify-content: center;}                         
    .asidearticlediv{width: 600px; height: 245px }
    .img2{ width: 385px; height: 235px }

                                /* HEBERGEMENT */

    .sectionheadertitle{ grid-area:sectionheadertitle;}
    .cannebiere{ grid-area:cannebiere;}
    .port{ grid-area:port;}
    .mouettes{ grid-area:mouettes;}
    .mer{ grid-area:mer;}
    .panier{ grid-area:panier;}
    .amina{ grid-area:amina;}
    .sectionhostingplus{ grid-area:sectionhostingplus;}
    .cannebiere
    #sectionarticle1, #sectionarticle2, #sectionarticle3, #sectionarticle4, #sectionarticle5, #sectionarticle6{ height: 250px;  } 

    .sectionhostingmainmain{ display: grid;justify-content: center;
        grid-gap: 10px;
        margin: auto;
        padding: 0;
        grid-template-columns: auto auto;
        grid-template-rows: auto auto auto auto auto;
        grid-template-areas: "sectionheadertitle ."
                             "cannebiere port"
                             "mouettes mer"
                             "panier amina"
                             "sectionhostingplus .";}

                                /* ACTIVITE */

    #ancreactivite{ grid-area:ancreactivite;}
    .sectionvieuxport{ grid-area:sectionvieuxport;}
    .sectionfort{ grid-area:sectionfort;}
    .sectionile{ grid-area:sectionile;}
    .sectionparcnational{ grid-area:sectionparcnational;}
    .sectionnotredame{ grid-area:sectionnotredame;}
    .sectionparc{ grid-area:sectionparc;}
    
    .sectionactivitydiv{ display: grid;justify-content: center;
        grid-gap: 10px;
        
        grid-template-columns: auto auto;
        grid-template-rows: auto auto auto auto;
        grid-template-areas: "ancreactivite ."
                             "sectionvieuxport sectionfort"
                            "sectionvieuxport sectionile"
                             "sectionparcnational sectionnotredame"
                             "sectionparcnational sectionparc";}
    #ancreactivite{ display: flex; justify-content: center; }  

    .vieuxport,.fort,.ile,.parcnational,.notredame,.parc{ width: 315px; }
    .activityimgS,.activityimgM,.activityimgL,.activityimgXL{ width: 315px;}  
    a.sectionile{ padding-top: 0; }                    
}   
                                /* FOOTER */
@media (max-width: 1000px) 
{
    .footerbottompropos{ grid-area:footerbottompropos;}
    .footerbottomheber{ grid-area:footerbottomheber;}
    .footerbottom{ grid-area:footerbottom;}
    
    .footerfooter{ display: grid;justify-content: center;
        grid-gap: 10px;
        padding: 0;
        grid-template-columns: auto;
        grid-template-rows: auto auto auto ;
        grid-template-areas:"footerbottompropos"
                            "footerbottomheber"
                            "footerbottom";}
.footerbottomheber,.footerbottom{ margin-left: 10px; }

}  

                                /* MEDIA QUERIES TABLETTES >1440 px */

@media ( min-width: 1025px) and (max-width: 1440px)   
{
    .sectionhosting{ display: flex; flex-direction: column-reverse; }
    .titlepopulairediv{ grid-area:titlepopulairediv;}
    #asidearticlediva{ grid-area:asidearticlediva;}
    #asidearticledivb{ grid-area:asidearticledivb;}
    #asidearticledivc{ grid-area:asidearticledivc;}
    
    
    .populaire{ display: grid;justify-content: center;
        grid-gap: 10px;
        padding: 0;
        grid-template-columns: auto auto auto ;
        grid-template-rows: auto auto ;
        grid-template-areas: "titlepopulairediv titlepopulairediv titlepopulairediv"
                             "asidearticlediva asidearticledivb asidearticledivc";}

    .titlepopulairediv{ display: flex;justify-content: space-between;align-items: center;margin: 20px 0 20px 0;}
    #titlepopulaireicon{ font-size: 1.5em;display: flex;justify-content: center;}                         
    .asidearticlediv{width: 320px; height: 155px }
    .img2{ width: 100px; height: 145px }

                                    /* HEBERGEMENT */

    .sectionheadertitle{ grid-area:sectionheadertitle;}
    .cannebiere{ grid-area:cannebiere;}
    .port{ grid-area:port;}
    .mouettes{ grid-area:mouettes;}
    .mer{ grid-area:mer;}
    .panier{ grid-area:panier;}
    .amina{ grid-area:amina;}
    .sectionhostingplus{ grid-area:sectionhostingplus;}
    .cannebiere
    #sectionarticle1, #sectionarticle2, #sectionarticle3, #sectionarticle4, #sectionarticle5, #sectionarticle6{ height: 250px;  } 

    .sectionhostingmainmain{ display: grid;justify-content: center; margin: auto;
        grid-gap: 10px;
        margin: auto;
        padding: 0;
        grid-template-columns: auto auto auto;
        grid-template-rows: auto auto auto auto;
        grid-template-areas:"sectionheadertitle . ."
                            "cannebiere port panier"
                            "mouettes mer amina"
                            "sectionhostingplus . .";}

                             /* ACTIVITE */

    #ancreactivite{ grid-area:ancreactivite;}
    .sectionvieuxport{ grid-area:sectionvieuxport;}
    .sectionfort{ grid-area:sectionfort;}
    .sectionile{ grid-area:sectionile;}
    .sectionparcnational{ grid-area:sectionparcnational;}
    .sectionnotredame{ grid-area:sectionnotredame;}
    .sectionparc{ grid-area:sectionparc;}
    
    .sectionactivitydiv{ display: grid;justify-content: center;
        grid-gap: 10px;
        
        grid-template-columns: auto auto;
        grid-template-rows: auto auto auto auto;
        grid-template-areas: "ancreactivite ."
                             "sectionvieuxport sectionfort"
                            "sectionvieuxport sectionile"
                             "sectionparcnational sectionnotredame"
                             "sectionparcnational sectionparc";}
    #ancreactivite{ display: flex; justify-content: center; }  

    .vieuxport,.fort,.ile,.parcnational,.notredame,.parc{ width: 485px; }
    .activityimgS,.activityimgM,.activityimgL,.activityimgXL{ width: 485px;}  
    a.sectionile{ padding-top: 0; }                                                

}                   
